<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
       <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
        <!-- librería de íconos font-awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Turnos</title>
</head>
<body class="gray-bg">
    <section class="side-bar">
        <h1>ODONTO-DH</h1>
        <div> 
            <h3>Pibe Valderrama</h3>
            <h4>User</h4>
        </div>
         <ul>
            <li id="home"><a href="./welcome.html"><img src="../static/img/inicio.svg" alt=""> Inicio</a></li>
            <li><a href="./booking.html"><img src="../static/img/turnos.svg" alt=""> Turnos</a></li>
            <li id="dent" ><a href="./dentists.html"><img src="../static/img/odontologos.svg" alt=""> Odontólogos</a></li>
            <li><a href="./patients.html"><img src="../static/img/pacientes.svg" alt=""> Pacientes</a></li> 
            <li id="exit"><a href="./index.html"><img src="../static/img/salir.svg" alt=""> Salir</a></li> 
        </ul>
    </section>
    <section class="main-section">
          <header>
            <div class="header-1">
                <span class="ham-menu"><i class="fa-solid fa-bars fa-xl"></i></span>
               <input type="text" name="search" id="search" placeholder="Buscar"> <img src="" alt="">
           </div>
           <div class="header-2">
               <h3>Lista de Turnos</h3>
               <button class="add booking-btn">AGREGAR TURNO</button>
           </div>
        </header>
        <table class="booking-table">
            <thead>
                <th>Paciente</th>
                <th>Odontólogo</th>
                <th>Fecha-hora</th>
                <th></th>
            </thead>
            <tbody>
                <tr> 
                    <td>
                        <select name="patient-select" id="patient-select" disabled>
                            <option value="seleccione el paciente" selected disabled>Elija un paciente</option>
                            <option value="James Rodríguez">James Rodríguez</option>
                        </select>
                    </td>
                    <td>
                        <select name="dentist-select" id="dentist-select" disabled>
                            <option value="seleccione el odontólogo" selected disabled>Elija un odontólogo</option>
                            <option value="James Rodríguez">Cristiano Ronaldo</option>
                        </select>
                    </td>
                    <td><input type="datetime-local" name="booking-date" value="" maxlength="20" disabled></td>
                    <td><img src="../static/img/save.svg" class="save hide" alt=""><img class ="edit" src="../static/img/edit.svg" alt="editar"><img class="delete" src="../static/img/delete.svg" alt="eliminar"></td> 
                </tr>
            </tbody>
        </table>
    </section>
    <script src="../static/js/custom.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>