<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
       <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <title>Odontólogos</title>
</head>
<body class="gray-bg">
    <section class="side-bar">
        <h1>ODONTO-DH</h1>
        <div> 
            <h3>Lionel Messi</h3>
            <h4>Admin</h4>
        </div>
       
        <ul>
            <li><img src="../static/img/inicio.svg" alt=""><a href="./welcome.html">Inicio</a></li>
            <li><img src="../static/img/turnos.svg" alt=""><a href="./booking.html">Turnos</a></li>
            <li><img src="../static/img/odontologos.svg" alt=""><a href="./dentists.html">Odontólogos</a></li>
            <li><img src="../static/img/pacientes.svg" alt=""><a href="./patients.html">Pacientes</a></li> 
            <li id="exit"><img src="../static/img/salir.svg" alt=""><a href="./index.html">Salir</a></li> 
        </ul>
    
    </section>
    <section class="main-section">
        <header>
            <div class="header-1">
               <input type="text" name="search" id="search" placeholder="Buscar"> <img src="" alt="">
           </div>
           <div class="header-2">
               <h3>Lista de Odontólogos</h3>
               <button>AGREGAR ODONTÓLOGO</button>
           </div>
        </header>
        <table>
            <thead>
                <tr>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Matrícula</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
            
                    <td> <input type="text" name="lastName" value="Ronaldo" maxlength="30" disabled></td>
                    <td><input type="text" name="fisrtName" value="Cristiano" maxlength="30" disabled></td>
                    <td><input type="number" name="cardNumber" value="123456" maxlength="6" disabled></td>
                    <td><img src="../static/img/save.svg" class="save hide" alt=""><img src="../static/img/edit.svg" alt="editar"><img src="../static/img/delete.svg" alt="eliminar"></td>
                </tr>
                <tr>
                    <td><input type="text" name="lastName" value="Ibrahimović" maxlength="30" disabled></td>
                    <td><input type="text" name="fisrtName" value="Zlatan" maxlength="30" disabled></td>
                    <td><input type="number" name="cardNumber" value="654321" maxlength="6" disabled></td>
                    <td><img src="../static/img/save.svg" class="save hide" alt=""><img src="../static/img/edit.svg" alt="editar"><img  src="../static/img/delete.svg" alt="eliminar"></td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>