<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
        <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Odonto-DH login</title>
</head>
<body class="yellow-bg">
    <section class="card login">
        <h1>ODONTO-DH</h1>
        <h3>LOGIN</h3>
        <p>Ingresa tus credenciales para acceder al sistema</p>
        <form>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass">
            <button type="submit">ENTRAR</button>
        </form>
        <!-- <p>¿No tienes cuenta? <a href="">Crea tu cuenta</a></p> -->
    </section>
</body>
</html>