<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
       <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Pacientes</title>
</head>
<body class="gray-bg">
    <section class="side-bar">
        <h1>ODONTO-DH</h1>
         <div> 
            <h3>Lionel Messi</h3>
            <h4>Admin</h4>
        </div>
          <ul>
            <li><img src="../static/img/inicio.svg" alt=""><a href="./welcome.html">Inicio</a></li>
            <li><img src="../static/img/turnos.svg" alt=""><a href="./booking.html">Turnos</a></li>
            <li><img src="../static/img/odontologos.svg" alt=""><a href="./dentists.html">Odontólogos</a></li>
            <li><img src="../static/img/pacientes.svg" alt=""><a href="./patients.html">Pacientes</a></li> 
            <li id="exit"><img src="../static/img/salir.svg" alt=""><a href="./index.html">Salir</a></li> 
        </ul>
    </section>
    <section class="main-section">b</section>
</body>
</html>