<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
       <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
      <!-- librería de íconos font-awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Odontólogos</title>
</head>
<body class="gray-bg">
    <section class="side-bar">
        <h1>ODONTO-DH</h1>
        <div> 
            <h3>Lionel Messi</h3>
            <h4>Admin</h4>
        </div>
       
        <ul>
            <li id="home"><a href="./welcome.html"><img src="../static/img/inicio.svg" alt=""> Inicio</a></li>
            <li><a href="./booking.html"><img src="../static/img/turnos.svg" alt=""> Turnos</a></li>
            <li id="dent" ><a href="./dentists.html"><img src="../static/img/odontologos.svg" alt=""> Odontólogos</a></li>
            <li><a href="./patients.html"><img src="../static/img/pacientes.svg" alt=""> Pacientes</a></li> 
            <li id="exit"><a href="./index.html"><img src="../static/img/salir.svg" alt=""> Salir</a></li> 
        </ul>
    
    </section>
    <section class="main-section">
        <header>
            <div class="header-1">
                <div style="margin-left: 0;"><span class="ham-menu"><i class="fa-solid fa-bars fa-xl"></i></span></div>
           </div>
           <div class="header-2">
               <h3>¡Bienvenide!</h3>
           </div>
        </header>
    </section>
</body>
</html>